{% extends 'home/base.html' %}
{% block title %}Loan Approve{% endblock %}
{% block body %}
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Loan Approve</h6>
    </div>
    <div class="card-body">
      <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'client/form_template.html' %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("input").addClass("form-control");
  $("textarea").addClass("form-control");
</script>
{% endblock %}
