{% extends 'client/base.html' %}
{% block title %}Application Status{% endblock %}
{% block body %}
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Application Status</h6>
    </div>
    <div class="card-body">
      {% if all_loan %}
      <div class="table-responsive">
        <table class="table table-striped mb-4">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Period</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in all_loan %}
            <tr>
              <td>{{ item.pk }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.created_at }}</td>
              <td>{{ item.loan_amount }}</td>
              <td>{{ item.period }}</td>
              <td>{% if item.loanconfirmation %} Approved {% else %} Pending {% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <br><br><br>
      <div style="text-align:center;">
        <h3>No Loan Application Available</h3>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
